* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.chessboard {
    border: 2px solid black;
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
}

.chessboard div {
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 1px white ;
    width: 10%;
    height: 80px;
    width: calc(100%/8);
}

.a {
    background-color: white;
}

.b {
    background-color: black;
}
